.back-style {
  background-image: url("https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/gallery/flat-bg.jpg");
  background-size: cover;
}

.login-div {
  /*background-color: transparent;*/
  background-color: rgba(255, 255, 255, .8);
  transparent: 5%;
  /*background-color: lightskyblue;*/
  width: 632px;
  height: 432px;
  position: absolute;
  top: 49.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.user-style {
  width: 100%;
  height: 50%;
  margin-top: .75rem;
  text-align: center;
}

.image-style {
  margin-top: .75rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
  width: 100px;
  height: 100px;
}

.password {
  width: 100%;
  height: 18%;
  margin-right: .75rem;
  margin-left: .75rem;
  margin-top: .75rem;
}

.lock-style {
  width: 5%;
}

.password-width {
  font-size: 1rem;
  color: #9e9e9e;
  width: 90%;
}

.login-button {
  width: 100%;
  height: 18%;
  margin-left: .75rem;
}

.button-style {
  width: 96%;
  color: palegoldenrod;
  border-radius: 50px;

  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #ff4081;
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  border-radius: 150px !important;
  border-top-left-radius: 150px !important;
  border-top-right-radius: 150px !important;
  border-bottom-right-radius: 150px !important;
  border-bottom-left-radius: 150px !important;
  background: #8e24aa;
  background-image: linear-gradient(45deg, rgb(142, 36, 170), rgb(255, 110, 64)) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background-image: linear-gradient(45deg, rgb(142, 36, 170), rgb(255, 110, 64)) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  /*background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;*/
  background-image: linear-gradient(45deg, rgb(142, 36, 170), rgb(255, 110, 64)) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  background: -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background-image: linear-gradient(45deg, rgb(142, 36, 170), rgb(255, 110, 64)) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background-image: linear-gradient(45deg, rgb(142, 36, 170), rgb(255, 110, 64)) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;

  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
}

.foot-style {
  width: 100%;
  height: 10%;
}

.space1 {
  float: left;
}

.space2 {
  float: right;
}

.font-color {
  color: #03A9F4;
}
